 @model List<Officer>

<div class="card shadow border-0 m-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2 ">Officer List</h2>
            </div>
        </div>
    </div>
    <div class=" card-body p-4">
        <div class="container">
            <div class="row pb-3">
                <div class="col-6">
                </div>
                <div class="col-6 text-end">
                    <a asp-controller="Officer" asp-action="Upsart" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> Create New Officer
                    </a>
                </div>
            </div>
            <table class="table table-bordered table-striped">
                <thead>

                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Mobile No.
                        </th>
                        <th>
                            District
                        </th>
                        <th>
                            Pin Code
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Aadhar
                        </th>
                        <th>
                            Pan Card
                        </th>
                   
                    </tr>

                </thead>
                
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/officer.js"></script>
}

